.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grid{
  display: flex;
}

.square{
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.start{
  background-color: green;
}
.path{
  background-color: greenyellow;
}
.finish{
  background-color: crimson;
  /* will make this a checkered flag? */
}
.visited{
  background-color: gray;
}
.empty{
  background-color: white;
}
.wall{
  background-color: black;
}
